.container {
  position: relative;
}
.areaWidth {
  width: 92%;
  position: relative;
}
.submitBtn {
  height: 2.5rem;
  position: absolute;
  top: 0;
  right: 1%;
}
.error {
  font-size: 12px;
  color: red;
}
